<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web2</display-name>
  <welcome-file-list>
    <welcome-file>hello2.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>org.zerock.web.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloController</display-name>
    <servlet-name>HelloController</servlet-name>
    <servlet-class>org.zerock.web.HelloController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloController</servlet-name>
    <url-pattern>/hello2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodController</display-name>
    <servlet-name>FoodController</servlet-name>
    <servlet-class>org.zerock.web.FoodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodController</servlet-name>
    <url-pattern>/food.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstController</display-name>
    <servlet-name>InstController</servlet-name>
    <servlet-class>org.zerock.web.InstController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstController</servlet-name>
    <url-pattern>/inst.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinController</display-name>
    <servlet-name>JoinController</servlet-name>
    <servlet-class>org.zerock.web.JoinController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinController</servlet-name>
    <url-pattern>/join.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HPController</display-name>
    <servlet-name>HPController</servlet-name>
    <servlet-class>org.jih.web.HPController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HPController</servlet-name>
    <url-pattern>/HPController</url-pattern>
    <url-pattern>/HP.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BGController</display-name>
    <servlet-name>BGController</servlet-name>
    <servlet-class>org.jih.web.BGController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BGController</servlet-name>
    <url-pattern>/BGController</url-pattern>
    <url-pattern>/BG.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CharacterController</display-name>
    <servlet-name>CharacterController</servlet-name>
    <servlet-class>org.jih.web.CharacterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CharacterController</servlet-name>
    <url-pattern>/CharacterController</url-pattern>
    <url-pattern>/Character.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HobbyController</display-name>
    <servlet-name>HobbyController</servlet-name>
    <servlet-class>org.jih.web.HobbyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HobbyController</servlet-name>
    <url-pattern>/HobbyController</url-pattern>
    <url-pattern>/Hobby.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadController</display-name>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>org.zerock.web.UploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/UploadResult</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.jih.web.LoginListener</listener-class>
  </listener>
</web-app>